md-toolbar
  div.md-toolbar-tools
    span(data-flex)
      a(data-ui-sref="app.home") PlayIt
    span(data-flex="50" data-layout="row")
      md-input-container(data-flex="70")
        input(data-ng-model="navBarCtrl.search" type="text")
        md-button(data-flex="20" data-ng-click="navBarCtrl.lauchSearch()") SEARCH
    span(data-flex)
    a(data-ui-sref="app.home.topRated")
      md-button TOP
    a(data-ui-sref="app.home.upcoming")
      md-button Upcoming
