md-toolbar
  div.md-toolbar-tools
    span(flex)
      a(ui-sref="app.home") PlayIt
    span(flex="50" layout="row")
      md-input-container(flex="70")
        input(ng-model="user.email" type="text")
        md-button(flex="20") SEARCH
    span(flex)
    a(ui-sref="app.home.topRated")
      md-button TOP
    a(ui-sref="app.home.upcoming")
      md-button Upcoming
