md-content(flex ng-cloak)
  md-grid-list(md-cols-gt-md="4" md-cols-sm="1" md-cols-md="2" md-row-height-gt-md="1:1" md-row-height="4:3"  md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px" flex)
    md-grid-tile(data-ng-repeat="movie in ::upcomingCtrl.movies" md-colspan-gt-sm="{movie.$index}" md-rowspan-gt-sm="{movie.$index}" layout="column")
      a( ui-sref="app.home.detail({ id: movie.id })" )
        h3 {{ ::movie.original_title }}
        img(data-ng-src="https://image.tmdb.org/t/p/w154{{ ::movie.poster_path }}")
