div.card
  div.card__container
  svg.card__image
    image(xlink:href="{{ movieCtrl.imgUrl }}" x="0" y="0" height="50px" width="50px")
  div.card__content
    i.card__btn-close.fa.fa-times
    div.card__caption
      h2.card__title
      p.card__subtitle Subtitle...
      p.card__copy Lorem ipsum dolor sit amet...
        
