md-card.md-default-theme, md-card {
    border-radius: 2px;
    height: 90%;
    width: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ;
    border: none;
    &:hover {
      cursor: pointer;
      height:100%;
      width:70%;
      box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

      .md-fab{
            transform: translateX(100%) translateY(150px);
            background: #E21838;
      }
    }
    .md-fab{
          transform: translateX(178px) translateY(134px);
          background: #E21838;
    }
}
